<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(posts)}">
        <h2>Post List</h2>
        <div class="row">
            <div class="col-sm-3">
                <a href="/chat/post/new">New post</a>
            </div>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Content</th>
                <th>Date</th>
                <th>User</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="post : ${posts}">
                <td th:text="${post.content}">Content</td>
                <td th:text="${post.date}">Date</td>
                <td th:text="${post.userLogin}">User</td>
                <td><a th:href="${ '/chat/post/' + post.id}">View</a></td>
                <td><a th:href="${ '/chat/post/edit/' + post.id}">Edit</a></td>
            </tr>
        </table>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/chat/login">Change user</a>
        </div>
    </div>
</div>
</body>
</html>